/* LESS declarations go here */

body{
  background-image: url('symphony.png');
}
.container{
  .form-control-wrapper{
    margin-bottom: 30px;
  }

  .order-panel{

    ul{
      padding-left: 0;
      list-style: none;

      li{
        color: #969696;
        margin-bottom: 10px;
      }
    }

    .username-emphasis{
      color: #5C3194;
      font-weight: bold;
    }

    .details-emphasis{
      color: #009688;
    }
  }

  .aggregatedOrders{
    .label.label-success{
      position: relative;
      top: -2px;
      margin-left: 5px;
    }

    ul{
      list-style: none;
      padding-left: 5px;

      i{
        font-size: 18px;
        top: 2px;
        position: relative;
      }
    }
  }

  .control.toggle{ margin-left: 10px; }
}
